@import "tailwindcss";

@theme {
    --color-lightViolet: #F6F4FF;
    --color-magnolia : #F5F3FF;
    --color-palePurple: #F3EAFD;
    --color-amethyst: #5b21b6;
    --color-cadetGray: #9D9D9D;
    --color-lightOrange: #F7D0A9;
    --color-bittersweet: #F05A59;
    --color-mintGreen: #CDECE4;
    --color-jasmine:#FDDA7F;
}
@custom-variant dark (&:where(.dark, .dark *));@custom-variant dark (&:where(.dark, .dark *));