<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HabitTracker</title>
    <link rel="stylesheet" href="/css/stylesheet-register.css">
</head>
<body>
    <main>
        <section class="welcome-section">
            <img src="/images/habit-image.jpg" alt="Illustration of connected habits">
            <h1 class="welcome-text header1">Track. Grow. Evolve.</h1>
            <p class="welcome-text">Every habit brings you closer to your goals.</p>
        </section>
        <section class="log-in-section">
            <div class="logo-container">
                 <h2 class="logo">HabitTracker</h2>
            </div>  
            <div class="sign-up-container">
                <form class="sign-up-form" action="/register" method="post">
                    <fieldset>
                    <legend>Create account</legend>
                    <p class="subtext">Join HabitTracker and start building positive habits today!</p>

                    <label for="firstName">Enter your first name:</label><br>
                    <input id="firstName" name="firstName" type="text" placeholder="Your first name" required>
                    <br>

                    <label for="lastName">Enter your last name:</label><br>
                    <input id="lastName" name="lastName" type="text" placeholder="Your last name" required>
                    <br>

                    <label for="email">Enter your email:</label><br>
                    <input id="email" name="email" type="email" placeholder="example@com" required>
                    <br>

                    <label for="password">Enter your password:</label><br>
                    <input id="password" name="password" type="password" placeholder="••••••••" required>
                    <br>

                    <label for="confirmPassword">Confirm your password:</label><br>
                    <input id="confirmPassword" name="confirmPassword" type="password" placeholder="••••••••" required>
                    <br>

                    <p id="passwordError" style="color: red; display: none;">Passwords do not match.</p>

                    <button type="submit">Create account</button>
                    <p class="login-text">Already have an account? <a href="/login">Log in</a></p>
                    </fieldset>
                </form>
            </div>
  
        </section>
    </main>

<script>
    const form = document.querySelector('.sign-up-form');
    const passwordError = document.getElementById('passwordError');

    form.addEventListener('submit', (event) => {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        // правило для пароля
        const passwordPattern = /^(?=.*[A-Za-z]).{8,}$/;

        // перевірка на складність
        if (!passwordPattern.test(password)) {
            event.preventDefault();
            passwordError.textContent = "Password must be at least 8 characters and contain at least one letter.";
            passwordError.style.display = "block";
            return;
        }

        if (password !== confirmPassword) {
            event.preventDefault();
            passwordError.style.display = 'block';
        } else {
            passwordError.style.display = 'none';
        }

        passwordError.style.display = "none";
    });

</script>
</body>
</html>